
<img src="<%= @forum.album.img_url %>" alt="<%= @forum.album.title %>">
<h1><%= @forum.album.title %></h1>
<p><%= @forum.album.genre %></p>




    <% @forum.messages.each do |message| %>
        <%= message.comment %>
        <br>
    <% end %>
