<div>

<%= button_to 'Edit Profile', edit_user_path, method: :get %><br>


    <div class="profile-info">
        <% if flash[:error] %>
        <p><%= flash[:error] %></p>
        <% end %>


        <h2>Welcome <%= @user.name %>!</h2>
        <p>Username: <%= @user.username %></p>
    </div>
    <% if @user.albums != nil %>
        <div class="forums-list">
            <h2>Albums You've Reviewed:</h2>
            <div class="forums-list-albums">
                <% @user.albums.each do |album| %>
                    <div class="show-tile">
                        <a href="<%= album_path(album) %>">
                            <img class="index-img" src="<%= album.img_url %>" alt="<%= album.title %>">
                        </a>
                    </div>
                <% end %>
            </div>
        </div>
    <% else %>
        <h2>Albums Discussed by <%= @user.username %></h2>
    <% end %>



</div>

