

<!DOCTYPE html>
<html>
<head>
<style>

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 5 / 2; }
.div2 { grid-area: 1 / 2 / 4 / 3; }
.div3 { grid-area: 4 / 2 / 5 / 3; }

.center {
  margin: auto;
  width: 60%;
  border: 0;
  padding: 10px;
  text-align: center;

}


h2 {
  text-align: left;
  white-space: wrap;
  margin: 0;
  padding: 0;
  
}

h3 {
  text-align: right;
  white-space: wrap;
  margin: 1;
  padding: 1;
 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#overflowTest {
  background: 0;
  color: white;
  padding: 10px;
  width: 80%;
  height: 300px;
  overflow: auto;
  border: 0px ;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}


</style>
</head>
<body>





<br>


<div class="parent">
<div class="div1" > 

<div class="center">


<img src="<%= @album.img_url %>" alt="<%= @album.title %>"  style="width:80% "><br>
  <h1><%= @album.artist %></h1>
  <h1><%= @album.title %></h1>
<p>Genre: <%= @album.genre %></p>
<p>Release Year: <%= @album.release_year %></p>

</div>
</div>
<div class="div2" id="overflowTest"> 

<% @album.messages.each do |message| %>
  <h2><a><p><%= link_to message.user.username , user_path(message.user) %>:</p></a></h2>
  <h2 class="<%= message.mood %>" style="font-size: 12px;"> <%= message.content %></h2>
    <h2><% message.comments.each do |comment| %></h2>
      <h3 style="font-size: 10px; color: grey;"><p><%= link_to comment.user.username, user_path(comment.user) %></p></h3>
    <p><h3 style="background-color: grey; border-radius: 11px; padding: 6px ; width: 98%; margin: 3; "> <%= comment.content %></p></h3>
    <% end %>

    <div class='form-container'>
      <% if flash[:error] %>
        <p><%= flash[:error] %></p>
      <% end %>
      <h3><%= form_for @comment do |f| %></h3>
        <h3><% f.hidden_field :content %></h3>
        <h3><%= f.text_field :content %></h3>

       <h3> <%= f.hidden_field :message_id, value: message.id %></h3>
      
        <h3><%= f.submit "Comment", :class => 'submit2' %></h3>
    
      <% end %>
    </div>
<% end %>



</div>
<div class="div3" >
 <div >
<p >Join the Conversation Here</p>

<%= form_for @message do |f| %>

    <%= f.label :mood %>
    <%= f.select :mood, [['positive'],['mixed'],['negative']] %>
    
    <% f.label :content %>
  <%= f.text_field :content, :class => 'form'  %>
    
   <p> <%= f.hidden_field :album_id, value: @album.id %></p>
   
   <p> <%= f.submit "Submit Message", :class => 'submit' %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
       <h3> <p><%= error %></p>
      <% end %>
    <% end %>
  
<% end %>
</div>
</div>
</div>




</body>
</html>














<%# link_to 'Scientist Lists', scientists_path %>
<%# button_to 'Delete Scientists', scientist_path(@scientist), method: :delete %><br>

