<h1>Album Show Page</h1>

<h3><%= @album.title %></h3>
<p><%= @album.genre %></p>

<img src="<%= @album.img_url %>" alt="<%= @album.title %>">


<% comment_count = 0 %>
<% @album.forums.each do |forum| %>
    <% forum.messages.each do |message| %>
        <% if message.comment  %>
          <% comment_count += 1%>
        <% end %>
    <% end %>
<% end %>

<h3>Currently <%= comment_count %> people have discussed <%= @album.title %>!</h3>



<%= link_to 'Join The Conversation', forum_path(@album) %>








<%# link_to 'Scientist Lists', scientists_path %>
<%# button_to 'Delete Scientists', scientist_path(@scientist), method: :delete %><br>

