<h1>Album Show Page</h1>

<h3><%= @album.title %></h3>
<p><%= @album.genre %></p>

<img src="<%= @album.img_url %>" alt="<%= @album.title %>">



<% @album.forums.each do |forum| %>
    <% forum.messages.each do |message| %>
        <%= message.comment %>
        <br>
    <% end %>
<% end %>



