<!DOCTYPE html>
<html>
<head>
<style>

.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 2 / 2 / 4; }
.div2 { grid-area: 2 / 2 / 3 / 4; }

.center {
  margin: auto;
  width: 60%;
  border: 0;
  padding: 10px;
  text-align: center;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#overflowTest {
  background: 0;
  color: white;
  padding: 15px;
  width: 100%;
  height: 200px;
  overflow: scroll;
  border: 0px solid #ccc;
}
</style>
</head>
<body>



<div class="center">
  <h1><%= @album.title %></h1>
<p>Genre: <%= @album.genre %></p>
<p>Release Year: <%= @album.release_year %></p>

<img src="<%= @album.img_url %>" alt="<%= @album.title %>"  style="width:40%"><br>

<br>


<div class="parent">
<div class="div1" id="overflowTest"> 

<% @album.messages.each do |message| %>
  <p><%= message.user.username %></p>
  <p class="<%= message.mood %>"> <%= message.content %></p>
    <% message.comments.each do |comment| %>
      <p><%= comment.user.username %></p>
      <p style="background-color: yellow;"> <%= comment.content %></p>
    <% end %>

    <div class='form-container'>
      <% if flash[:error] %>
        <p><%= flash[:error] %></p>
      <% end %>
      <%= form_for @comment do |f| %>
        <%= f.label :content %>
        <%= f.text_field :content %>
        <br>
        <%= f.hidden_field :message_id, value: message.id %>
      
        <%= f.submit "Comment" %>
    
      <% end %>
    </div>
<% end %>

</div>
<div class="div2"> 


<h4>Join the Conversation Here</h4>

<%= form_for @message do |f| %>

    <%= f.label :mood %>
    <%= f.select :mood, [['happy'],['sad'],['angry']] %>
    <br>
    <% f.label :content %>
    <%= f.text_field :content %>
    <br>
    <%= f.hidden_field :album_id, value: @album.id %>
   
    <%= f.submit "Submit Message" %>
  
<% end %>



</div>
</div>
</div>

</body>
</html>














<%# link_to 'Scientist Lists', scientists_path %>
<%# button_to 'Delete Scientists', scientist_path(@scientist), method: :delete %><br>

