<!DOCTYPE html>
<html>
  <head>
    <title>Chatify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     <style>
  

  </style>
  </head>
 

  <body>
    <div class="sidenav">
    <nav>
        <ul>
          

          

          <% if @current_user %>
           <li class="nav-tabs-right"><%= link_to "All Albums", albums_path %></li>
            <li class="nav-tabs-right"><%= link_to "Profile Page", user_path(@current_user) %></li>
            <li class="nav-tabs-right"><%= link_to "Logout", logout_path, method: :delete %></li>

          <% else %>
            <li class="nav-tabs-right"><%= link_to "Sign Up", new_user_path %></li>
            <li class="nav-tabs-right"><%= link_to "Login", new_session_path %></li>
          <% end %>

        </ul>
      </nav>
      </div>
      <div class="main">
    <%= yield %>
    </div>
  </body>
</html>
